Source: glite-yaim-argus-server
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Section: libs
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/ArgusEMIDeployment#Configuration_with_YAIM
Vcs-Git: git://github.com/argus-authz/yaim-argus-server.git
Vcs-Browser: https://github.com/argus-authz/yaim-argus-server.git

Package: glite-yaim-argus-server
Section: libs
Architecture: all
Depends: glite-yaim-core, glite-info-provider-service, glite-yaim-bdii, ${misc:Depends}
Description: gLite YAIM module: ARGUS_server
 Argus Authorization Service configuration modules 
 for gLite YAIM.
